<h1>Edit stack</h1>

<%= form_with model: @stack, local: true do |form| %>

  <% if @stack.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@stack.errors.count, "error") %> prohibited
        this stack from being saved:
      </h2>
      <ul>
        <% @stack.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= form.label :tilte %><br>
    <%= form.text_field :tilte %>
  </p>

  <p>
    <% @stack.images.each do |item| %>
      <br><%= link_to(image_tag(item.medium.url, alt: 'Image'), item.url, target: '_blank') %>
      <%= number_field(:rates, nil, in: 1...11, :value => 1) if @stack.rate == nil %>
    <% end %>
  </p>
  
  <p>
    <%= form.submit %>
  </p>

<% end %>

<%= link_to 'Back', stacks_path %>