<p id="notice"><%= notice %></p>

<h1>Listing stacks</h1>
<%= link_to 'New stack', new_stack_path %>
<table>
  <tr>
    <th>Title</th>
    <th>User</th>
    <th>Rate</th>
    <th>Date of Creation</th>
    <th></th>
  </tr>

  <% @stacks.each do |stack| %>
    <tr>
      <td><%= stack.tilte %></td>
      <td><%= stack.user %></td>
      <td><%= stack.rate %></td>
      <td><%= stack.created_at %></td>
      <td><%= link_to 'Show', stack_path(stack) %></td>
      <td><%= link_to 'Edit', edit_stack_path(stack) %></td>
      <td><%= link_to 'Destroy', stack_path(stack),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>